<template>
    <div class="UserProperties">
        <div class="Address">
           Address: {{address}}
        </div>
        <div class="Mail">
            Mail: {{mail}}
        </div>
        <div class="Phone">
            Phone: {{phone}}
        </div>
    </div>
</template>

<script>
    export default {
        props: ["address", "mail", "phone"]
    }
</script>

<style>

</style>
