<template>
    <div class="command">
        <CommandId :id="id"/>
        <BlockNumber :blockNumber="blockNumber"/>
        <State :state="state"/>
        <Price :blockNumber="blockNumber" />
        <Budget :budget="budget" />
    </div>
</template>

<script>
    import BlockNumber from "./BlockNumber"
    import State from "./State"
    import Price from "./Price"
    import Budget from "./Budget"
    import CommandId from "./CommandId"

    export default {
        props: [
            "blockNumber",
            "state",
            "price",
            "budget",
            "id"
        ],
        components: {
            BlockNumber,
            State,
            Price,
            Budget,
            CommandId

        }};
</script>

<style>
    .command{
        width: 10em;
        height: 10em;
        background-color: whitesmoke;
        color: black;

        flex-direction: column;
        justify-content: space-between;
        align-content: center;

        text-align: center;

        font-family: "Times New Roman", Times, serif;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }


</style>
