<template>
    <div class="container">
        <div class="command-slot" :key="command.id" v-for="command in commandList">

            <Command 
                :id="command.id"
                :price="command.price"
                :state="command.state"
                :blockNumber="command.blockNumber"
                :budget="command.budget"
                />  

        </div>
    </div>
</template>

<script>
    import { Command } from "../components";
    import { getAllCommands } from "../services";

    export default {
        components: {
            Command
        },
        mounted: function () {
            getAllCommands().then(allCommands => (this.commandList = allCommands));
        },
        data: function () {
            return {
                commandList: []
            };
        }
    };
</script>

<style>
    .card-slot {
        display: inline-block;
        margin: 10px;

    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }
</style>