<template>
    <div class="container">
        <div class="column">
            <UserForm :user="user" @submit="addUser"/>
        </div>
        <div class="column">

            <User 
                :firstname="user.firstname"
                :lastname="user.lastname"
                :mail="user.mail"
                :address="user.address"
                :phone="user.phone"
                :password="user.password"
                />  

        </div>
    </div>
</template>

<script>
    import { User, UserForm } from "../components";
    import { saveUser } from "../services";

    export default {
        components: {
            User,
            UserForm
        },
        methods: {
            addUser: function () {
                saveUser(this.user).then(() => (this.user = {}));
            }
        },
        

        data: function () {
            return {
                userList: [
                    {
                        name: "Toto"
                    }
                ],
                user: {
                    firstname: "",
                    lastname: "",
                    mail: "",
                    address: "",
                    phone: "",
                    password: ""


                }
            };
        }
    };
</script>

<style>
    .column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: calc(100vh - 60px);
        min-height: 500px;
        display: flex;
        justify-content: space-between;
    }
</style>
