<template>
    <div class="container">
        <div class="column">
            <CommandForm :command="command" @submit="addCommand"/>
        </div>
        <div class="column">

            <Command 

                :blockNumber="command.blockNumber"
                :price="command.price"
                :state="command.state"
                :budget="command.budget"
                />

        </div>
    </div>
</template>

<script>
    import { Command, CommandForm } from "../components";
    import { saveCommand } from "../services";

    export default {
        components: {
            Command,
            CommandForm
        },
        methods: {
            addCommand: function () {
                saveCommand(this.command).then(() => (this.command = {}));
            }
        },
        data: function () {
            return {
                commandList: [
                    {
                        name: "Toto"
                    }
                ],
                command: {
                    blockNumber: "",
                    price: "",
                    budget: "",
                    state: "WAITING_PAIEMENT"
                }
            };
        }
    };
</script>

<style>
    .column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: calc(100vh - 60px);
        min-height: 500px;
        display: flex;
        justify-content: space-between;
    }
</style>
