<template>
    <div class="container">
        <div class="user-slot" :key="user.id" v-for="(user, index) in userList">

            <User 
                :firstname="user.firstname"
                :lastname="user.lastname"
                :address="user.address"
                :mail="user.mail"
                :phone="user.phone"
                :password="user.password"
                />  

        </div>
    </div>
</template>

<script>
    import { User } from "../components";
    import { getAllUsers } from "../services";

    export default {
        components: {
            User
        },
        mounted: function () {
            getAllUsers().then(allUsers => (this.userList = allUsers));
        },
        data: function () {
            return {
                userList: []
            };
        }
    };
</script>

<style>
    .user-slot {
        display: inline-block;
        margin: 10px;
        flex-wrap: wrap;
    }
     .container {
        display: flex;
        flex-wrap: wrap;
    }
</style>



