<template>
  <button class="button" v-on="$listeners">
    <slot/>
  </button>
</template>

<script>
export default {
  props: ["label"]
};
</script>

<style >
.button {
  text-transform: uppercase;
  margin: 10px;
  color: white;
  padding: 5px;
  border: 0;
  outline: none;
  background-color: darkcyan;
  cursor: pointer;
  transition: box-shadow 200ms;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &:focus,
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    border-color: darkcyan;
  }
}
</style>
