<template>
    <div class="Price">
        Price :  {{blockNumber*2}} €
    </div>
</template>

<script>
    import { BlockNumber } from "../BlockNumber"


    export default {
        props: [
            "blockNumber"
        ]}

</script>