<template>
    <div class="user-form">

        <Input type="text" v-model="user.firstname" id="firstname" label="Firstname"/>
        <Input type="text" v-model="user.lastname" id="lastname" label="Lastname"/>
        <TextArea type="text" v-model="user.address" id="address" label="Address"/>
        <Input type="email" v-model="user.mail" id="mail" label="E-Mail"/>
        <Input type="tel" v-model="user.phone" id="phone" label="Phone Number"/>
        <Input type="password" v-model="user.password" id="password" label="Password"/>

        <Button @click="onSubmit"> Add User</Button>
    </div>
</template>

<script>
    import { Input, TextArea, Button, Select } from "../common";

    export default {

        props: ["user"],
        components: {
            Input,
            TextArea,
            Button,
            Select
        },
        methods: {
            onSubmit: function (e) {
                e.preventDefault();
                this.$emit("submit", this.user);
            }
        }}
</script>

<style>

</style>
