<template>
    <div class="user">
        <UserName :firstname="firstname" :lastname="lastname" class="name"/>
        <UserProperties :mail="mail" :address="address"  :phone="phone"  class="properties"/>
        <UserPassword :password="password" class="password"/>
    </div>
</template>

<script>
    import UserName from "./UserName"
    import UserProperties from "./UserProperties"
    import UserPassword from "./UserPassword"

    export default {
        props: [
            "firstname",
            "lastname",
            "mail",
            "address",
            "phone",
            "password"
        ],
        components: {
            UserName,
            UserProperties,
            UserPassword
        }
    };
</script>

<style>
    .user{
        width: 13em;
        height: 13em;
        background-color: whitesmoke;
        color: #A0522D;
        flex-wrap: wrap;

        flex-direction: column;
        justify-content: space-between;


        text-align: center;

        font-family: "Times New Roman", Times, serif;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

    .name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1em;
        flex-wrap: wrap;
    }


    .password {

        opacity: 0;
    }
</style>
