<template>
    <div class="command-form">
        <Input type="number" v-model.number="command.blockNumber" max="maxPrice" id="blockNumber" label="Block number"/>
        <Input type="number" v-model.number="command.budget"  id="priceMax"  label="Budget"/>
        <Button @click="onSubmit"> Add Command</Button>
    </div>
</template>

<script>
    import { Input, TextArea, Button, Select } from "../common";
    

    export default {

        props: ["command"],
        components: {
            Input,
            TextArea,
            Button,
            Select
        },
        methods: {
            onSubmit: function (e) {
                e.preventDefault();
                this.$emit("submit", this.command);
            }
        }}
</script>

<style>

</style>
