<template>
    <div class="UserName">
        <div class="FirstName">
         Firstname:   {{firstname}}
        </div>
        <div class="LastName">
            Lastname: {{lastname}}
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "firstname",
            "lastname"
        ]
    };
</script>

<style>

</style>
